<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>AskMate | Ask a question</title>
    </head>
    <body>
    <h1 align="center">Ask a question:</h1>
    <form action="/add-a-question" method="post" >
        <p align="center" >
            <label style="font-size: 20px">Question title:</label><br>
            <input style="font-size: 18px" type="text" name="title" required>
        </p>
        <p align="center">
            <label style="font-size: 20px">Question details:</label><br>
            <textarea style="font-size: 16px; resize: none" name="message" rows="10" cols="40" required></textarea>
        </p>
        <p>
            <label>Image link</label>
            <input type="text" name="image">
        </p>
        <p align="center">
            <button style="font-size: 20px" type="submit">Submit</button>
        </p>
    </form>
    <p align="center">
        <a href="/"><button style="font-size: 20px">Back</button></a>
    </p>
    </body>
</html>