{% extends 'layout.html' %}
{% block title %}AskMate | Ask a question{% endblock %}
{% block content %}
    <div class="input_form">
        <h1>Ask a question</h1><br>
        <form action="{{ url_for('route_add_question') }}" method="post" >
            <p>
                <label for="title">Question title:</label><br>
                <input type="text" name="title" id="title" required maxlength="80">
            </p>
            <p>
                <label for="message">Question details:</label><br>
                <textarea name="message" rows="10" cols="40" id="message" required></textarea>
            </p>
            <p>
                <label for="image">Image link:</label><br>
                <input type="text" name="image" id="image">
            </p>
            <p>
                <button type="submit">Submit</button>
            </p>
        </form>
        <div class="back_button">
            <a href="{{ url_for('route_list') }}"><button>Back</button></a>
        </div>
    </div>
{% endblock %}