{% extends "question.html" %}
{% block extension %}
<h1 align="center">Edit question:</h1>
<form action="/question/{{ question['id'] }}/edit-a-question" method="POST">
    <p align="center">
        <textarea style="font-size: 16px; resize: none" name="message" rows="10" cols="40" required>{{ question["message"] }}</textarea>
    </p>
    <p align="center">
        <button type="submit" style="font-size: 20px">Submit</button>
    </p>
</form>
<p align="center">
    <a href="/question/{{ question['id'] }}"><button style="font-size: 20px">Back</button></a>
</p>
{% endblock %}