<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/try_error.css') }}">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <header>
        <div id="header_box">
            <a href="/">
                <div class="header_element" id="ask_mate">
                    AskMate™
                </div>
            </a>
            <div class="links">
                <a href="{{ url_for('route_add_question') }}">
                    <div class="header_element">
                        ASK QUESTION
                    </div>
                </a>
                <a href="{{ url_for('route_users') }}">
                    <div class="header_element">
                        LIST USERS
                    </div>
                </a>
            </div>
            <div class="search">
                <form action="/search" method="get">
                    <label for="search"></label>
                    <input name="search" id="search_bar" placeholder="Search...">
                </form >
            </div>
            {%  if not username  %}
                <div class="login">
                    <a href="/registration">
                        <div class="header_element" id="register">
                            REGISTER
                        </div>
                    </a>
                    <a href="{{ url_for('route_login') }}">
                        <div class="header_element" id="login">
                            LOGIN
                        </div>
                    </a>
                </div>
            {% else %}
                <div class="login">
                    <a href="{{ url_for('route_users') }}">
                        <div class="header_element" id="user_page">
                            USER PAGE
                        </div>
                    </a>
                    <a href="{{ url_for('route_logout') }}">
                        <div class="header_element" id="login">
                            LOGOUT
                        </div>
                    </a>
                </div>
            {%  endif %}
        </div>
    </header>
    <div id="content_wrapper">
    {% block content %}
    {% endblock %}
    </div>
</body>
</html>