<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/try_error.css') }}">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <header>
        <div id="header_elements">
            <div id="ask_mate">
                <a href="/">AskMate</a>
            </div>
            <div class="header_element">
                <a href="{{ url_for('route_add_question') }}">Ask a question</a>
            </div>
            <div class="header_element">
                <form id="search_bar" action="/search" method="get">
                    <label for="search"></label>
                    <input name="search" id="search" placeholder="Search...">
                </form >
            </div>
            <div id="login">
                <div class="header_element">
                    <a href="/">Register</a>
                </div>
                <div class="header_element">
                    <a href="/">Login</a>
                </div>
            </div>
        </div>
    </header>
    <div id="content_wrapper">
    {% block content %}
    {% endblock %}
    </div>
</body>
</html>