{% extends 'layout.html' %}
{% block title %}AskMate{% endblock %}
{% block content %}
    <div id="main_page">
        <h1>AskMate</h1>
        <form action="{{ url_for('route_list') }}" method="GET">
            <p>
                <label for="sort_by"></label>
                <select name="sort_by" id="sort_by">
                    <option value="view_number" {{ 'selected' if sort_by == 'view_number' }}>Views</option>
                    <option value="vote_number" {{ 'selected' if sort_by == 'vote_number' }}>Votes</option>
                    <option value="title" {{ 'selected' if sort_by == 'title' }}>Title</option>
                    <option value="submission_time" {{ 'selected' if sort_by == 'submission_time' }}>Time</option>
                </select>
            </p>
            <p>
                <label for="sort_direction"></label>
                <select name="sort_direction" id="sort_direction">
                    <option value="ASC" {{ 'selected' if sort_direction == 'ASC' }}>Ascending</option>
                    <option value="DESC" {{ 'selected' if sort_direction == 'DESC' }}>Descending</option>
                </select>
            </p>
            <p>
                <input type="submit" value="Sort">
            </p>
        </form>
        <table>
            <tr>
                <th>Views</th>
                <th>Votes</th>
                <th>Questions</th>
                <th>Submission time</th>
            </tr>
            {% for row in questions %}
                <tr>
                    <td>{{ row['view_number'] }}</td>
                    <td>{{ row['vote_number'] }}</td>
                    <td><a href="{{ url_for('route_question_view_count', question_id=row['id']) }}">{{ row['title'] }}</a></td>
                    <td>{{ row['submission_time'] }}</td>
                </tr>
            {% endfor %}
        </table>
        <p id="ask_button">
            <a href="{{ url_for('route_add_question') }}"><button>Ask a question</button></a>
        </p>
    </div>
{% endblock %}