{% extends 'question.html' %}
{% block page_bottom %}
    <div id="new_answer">
        <h1>Your Answer:</h1>
        <form action="{{ url_for('route_add_answer', question_id=question['id']) }}" method="POST">
            <p>
                <label for="message">Your answer</label><br>
                <textarea name="message" cols="60" rows="15" id="message" required></textarea>
            </p>
            <p>
                <label for="image">Image link</label>
                <input type="text" name="image" id="image">
            </p>
            <p>
                <button type="submit">Submit</button>
            </p>
        </form>
         <p>
            <a href="{{ url_for('route_question_by_id', question_id=question['id']) }}"><button>Back</button></a>
        </p>
    </div>
{% endblock %}