{% extends 'question.html' %}
{% block extension %}
<h1 align="center">Your Answer:</h1>
<form action="{{ url_for('route_add_answer', question_id=question['id']) }}" method="POST">
    <p align="center">
        <textarea name="message" cols="60" rows="15"></textarea>
    </p>
    <p>
        <input type="text" name="image">
    </p>
    <p align="center">
        <button type="submit" style="font-size: 20px">Submit</button>
    </p>
</form>
 <p align="center">
    <a href="/question/{{ question['id'] }}"><button style="font-size: 20px">Back</button></a>
</p>
{% endblock %}