{% extends 'layout.html' %}
{% block title %}AskMate | {{ question['title'] }}{% endblock %}
{% block content %}
        <h1 align="left">{{ question['title'] }}</h1>
        <table style="border-spacing: 15px 15px" width="70%">
            <tr style="font-size: 20px">
                <th>Id</th>
                <th>Views</th>
                <th>Votes</th>
                <th align="left">Question</th>
                <th>Submission Time</th>
            </tr>
            <tr align="center">
                <td width="1%">{{ question['id'] }}</td>
                <td width="1%"> {{ question['view_number'] }}</td>
                <td width="5%">
                    <p><a href="/question/{{ question['id'] }}/1"><button>UPVOTE</button></a></p>
                    <p>{{ question['vote_number'] }}</p>
                    <p><a href="/question/{{ question['id'] }}/-1"> <button>DOWNVOTE</button></a></p>
                </td>
                <td style="white-space: pre-line" align="left" width="30%" >{{ question['message'] }}</td>
                <td width="8%"> {{ question['submission_time'] }}</td>
            </tr>
        </table>
        {% block page_bottom %}
        <h2 align="left">Answers:</h2>
        <table style="border-spacing: 15px 15px" width="70%">
            <tr style="font-size: 20px">
                <th>Id</th>
                <th></th>
                <th>Votes</th>
                <th align="left">Answer</th>
                <th>Submission Time</th>
            </tr>
            {% for answer in answers %}
            <tr align="center">
                <td width="1%">{{ answer['id'] }}</td>
                <td width="2.8%"></td>
                <td width="5%">
                    <p><a href="/question/{{ question['id'] }}/{{ answer['id'] }}/1"><button>UPVOTE</button></a></p>
                    <p>{{ answer['vote_number'] }}</p>
                    <p><a href="/question/{{ question['id'] }}/{{ answer['id'] }}/-1"> <button>DOWNVOTE</button></a></p>
                </td>
                <td style="white-space: pre-line" align="left" width="30%">{{ answer['message'] }}</td>
                <td width="8%"> {{ answer['submission_time'] }}</td>
                <td width="8%">
                    <a href="/{{ question['id']}}/{{ answer['id'] }}/delete"><button>DELETE</button></a>
                </td>
            </tr>
            {% endfor %}
        </table>
        <p align="center">
            <a href="/question/{{ question['id'] }}/new-answer"><button style="font-size: 20px">Add a new answer</button></a>
            <a href="/question/{{ question['id'] }}/edit-a-question"><button style="font-size: 20px">Edit the question</button></a>
        </p>
        <p align="center">
            <a href="/"><button style="font-size: 20px">Back</button></a>
            <a href="/question/{{ question['id'] }}/delete"><button style="font-size: 20px">Delete Question</button></a>
        </p>
        {% endblock %}
{% endblock %}