{% extends 'layout.html' %}
{% block title %}AskMate{% endblock %}
{% block content %}
    <div id="question">
    <div class="userpage-head">
        <h1>{{ user_attributes['username'] }}</h1>
        <div id="question_info">
            <p>reputation: {{ user_attributes['reputation'] }}</p>
            <p>{{ user_attributes['date_of_registration'] }}</p>
        </div>
    </div>
    </div>
    <div id="main_page">
        <div id="main_table">
            <table>
                {% for row in questions %}
                <tr>
                    <td>{{ row['view_number'] }}<br>Views</td>
                    <td>{{ row['vote_number'] }}<br>Votes</td>
                    <td><a href="{{ url_for('route_question_view_count', question_id=row['id']) }}">{{ row['title'] }}</a></td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}